---
import { Image } from 'astro:assets'
import FormattedDate from '@/components/FormattedDate'
import ArrowUp from '@/components/icons/ArrowUp'

const {
	id,
	data: { title, description, pubDate, heroImage, category },
	readTime,
	slug
} = Astro.props
---

<article class='grid min-h-full'>
	<a href={`/post/${slug}/`}>
		<div class='relative overflow-hidden rounded-2xl h-60'>
			<Image
				src={heroImage}
				width={600}
				height={200}
				format='webp'
				quality='mid'
				class='h-full min-w-full object-cover hover:scale-[101%] transition-all duration-200 rounded-[2px]'
				alt={`img of ${title}`}
			/>

			<!-- <div class='z-30 absolute bottom-0 w-full h-24'>
			<div class='-z-10 absolute bottom-0 glass w-full min-h-full'></div>
			<div class='flex items-center justify-between gap-x-1 text-white px-6 py-4'>
				<div class='flex flex-col gap-1 items-center justify-center'>
					<span class='text-lg'>{title}</span>
				</div>
			</div>
		</div> -->
		</div>
		<div class='mt-4 mb-14 mx-4'>
			<span
				class='text-lg font-bold bg-clip-text text-transparent bg-gradient-to-r from-fuchsia-900 to-teal-950 dark:from-fuchsia-200 dark:to-teal-200'
				>{title}</span
			>
		</div>
	</a>
</article>

<script>
	import { animate } from 'motion'

	const images = document.querySelectorAll('img')

	document.addEventListener('DOMContentLoaded', function () {
		const showAnimations = localStorage.getItem('animations') === 'true'

		if (showAnimations) {
			animate(
				'.effect',
				{
					opacity: [0, 1],
					clipPath: ['circle(0% at 0% 0%)', 'circle(100% at 50% 50%)']
				},
				{ duration: 2, easing: 'ease' }
			)
		} else {
			images.forEach((img) => {
				img.classList.remove('opacity-0')
			})
		}
	})
</script>
